* {
  font-family: monospace;
}

body {
  min-height:100vh;
  margin:0;
  display:grid;
  grid-template-rows: auto 1fr auto;
}

header {
  min-height:50px;
}


/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

.option {
  display:flex;
}

main {
  display:grid;
  grid-template-columns: 1fr 3fr;
}
.project-name-card {
  border:black solid 1px;
  margin:20px 40px;
  background-color: #1E90FF;
  border-radius:10px;
  display:flex;
  align-items: center;
  padding:20px;
}

.main {
 /* border:1px solid red;*/
  display:grid;
  grid-template-rows: 1fr 3fr;
  background-color: #f2f3f5;
}




.project {
  display:flex;
  justify-content: space-between;
  margin-top:10px;
}

.project:hover {
  background-color: lightgray;
  cursor:pointer;
}
.left-project-content {
  display:flex;
}

.task {
  display:flex;
  justify-content: space-between;
  border:1px solid black;
  border-radius: 10px;
  margin:8px 40px;
}

.left-task-content, .right-task-content {
  display:flex;

}

.left-task-content *, .right-task-content * {
  margin:10px;
}

.due-date {
  border:1px solid black;
  border-radius:10px;
  padding:5px;
}

.left-task-content * {
  align-items: center;
}

.addBtn {
  display:flex;
  justify-content:center;
  margin:20px;
  gap:10px;
  cursor:pointer;
}

.addBtn:hover {
  background-color: lightgray;
}

header,footer {
  display:flex;
  justify-content: center;
}

header {
  border-bottom: 1px solid black;
  background-color: #f2f3f5;
}

footer {
  border-top: 1px solid black;
  background-color: #f2f3f5;
}

.sidebar {
  padding:15px;
  
}

.headline {
  margin-bottom: 20px;
}

.headline * {
  margin-bottom:5px;
}
